::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #010101;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }