@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-20 py-12;
  }

  .padding-x {
    @apply sm:px-24 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
  .logo-text {
    @apply font-montserrat text-black text-[40px] font-extrabold italic   ;
  }
  .banner-text{
    @apply lg:text-[40px] md:text-[30px] tracking-tighter uppercase  text-white font-montserrat leading-8 font-bold;
  }
  .marquee-button{
    @apply text-white p-2 mx-2 text-sm   font-light tracking-widest   font-montserrat
  }
  .zoom-out {
    transition: transform 0.3s ease;
  }
  .zoom-in {
    transition: transform 0.3s ease;
  }
  .zoom-out-text {
    transition: border 0.3s ease;
  }

  .zoom-out:hover {
    transform: scale(1.04); /* Zoom out by 10% */
    
  }
  .zoom-in:hover {
    transform: scale(0.98); /* Zoom out by 10% */
    
  }

  .zoom-out-text:hover {
    cursor: pointer;
    border-bottom: solid black 8px;
    
  }
  .custom-border:hover {
    height: 18px; /* Adjust the height value as needed */
  }
  p.v-line::after {
    content: '|';
    margin-left: 6px; /* Adjust as needed */
  }
 
  
 

 
  
}